.mainContainer {
    background-color: #24253F;
    background-image: url('../Components/Assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 150px;
    top: 0px;
    z-index: -1;
}

.leftDiv .icon ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 20px;
}

.leftDiv .icon ul li {
    color: white;
    border: 2px solid #ff4a57;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: all 0.5s linear;
    cursor: pointer;
    padding: 10px;
    font-size: 20px ;
}

.icon ul li:hover {
    background: #fff;
    color: #24253F;
    border: 2px solid transparent;
}

.leftDiv h1 {
    color: white;
    font-size: 40px;
}

.leftDiv p {
    color: white;
    font-size: 15px;
    font-weight: bold;

}

.leftDiv .button1 {
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 17px;
    background-color: #1E2239;
    border: 1px solid #ff4a57;
    color: white;
    margin-top: 20px;
}

.leftDiv .button1:hover {
    background-color: white;
    transition: all 0.5s ease-in-out;
    color: black;
}

.leftDiv .iconButton {
    padding: 8px 35px 8px 35px;
    margin-left: 40px;
    margin-bottom: 0px;
    font-size: 25px;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: #ff4a57;
    color: white;

}


.rightDiv img {
    width: 100%;
    height: 500px;
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
    .mainContainer {
        background-color: #24253F;
        background-image: url('../Components/Assets/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 120vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        z-index: -1;
        text-align: center;
    }

    .icon {
        width: 50%;
        margin: 20px auto;
    }

    .icon ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .icon ul li {
        color: white;
    border: 2px solid #ff4a57;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: all 0.5s linear;
    cursor: pointer;
    padding: 10px;
    font-size: 15px ;
    }

    .icon ul li:hover {
        background: #fff;
        color: #24253F;
        border: 2px solid transparent;
    }

    .leftDiv h1 {
        color: white;
        padding-top: 5px;
        font-size: 30px;
    }

    .leftDiv p {
        padding-top: 15px;
        color: white;
        font-size: 16px;
        font-weight: bold;
    }

    .leftDiv .button1 {
        padding: 10px 25px 10px 25px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 13px;
        background-color: #1E2239;
        border: 1px solid #ff4a57;
        color: white;
        margin-top: 20px;
    }

    .leftDiv .button1:hover {
        background-color: white;
        transition: all 0.5s ease-in-out;
        color: black;
    }

    .leftDiv .iconButton {
        padding: 5px 20px 5px 20px;
        margin-left: 40px;
        margin-bottom: 0px;
        font-size: 20px;
        border-radius: 30px;
        border: none;
        background-color: #ff4a57;
        color: white;
    }

    .rightDiv img {
        width: 100%;
        height: 350px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 499px) {
    .mainContainer {
        background-color: #24253F;
        background-image: url('../Components/Assets/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 120vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        z-index: -1;
        text-align: center;
    }

    .icon {
        width: 100%;
        margin: 20px auto;

    }

    .icon ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .icon ul li {
       

        color: white;
        border: 2px solid #ff4a57;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        transition: all 0.5s linear;
        cursor: pointer;
        padding: 5px;
        font-size: 4px ;
    }

    .icon ul li:hover {
        background: rgb(255, 255, 255);
        color: #24253F;
        border: 2px solid transparent;
    }

    .leftDiv h1 {
        color: white;
        padding-top: 5px;
        font-size: 25px;
    }

    .leftDiv p {
        padding-top: 10px;
        color: white;
        font-size: 12px;
        font-weight: bold;
    }

    .leftDiv .button1 {
        padding: 10px 25px 10px 25px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 13px;
        background-color: #1E2239;
        border: 1px solid #ff4a57;
        color: white;
        margin-top: 20px;
    }

    .leftDiv .button1:hover {
        background-color: white;
        transition: all 0.5s ease-in-out;
        color: black;
    }

    .leftDiv .iconButton {
        padding: 5px 20px 5px 20px;
        margin-left: 10px;
        margin-bottom: 0px;
        font-size: 20px;
        border-radius: 30px;
        border: none;
        background-color: #ff4a57;
        color: white;
    }

    .rightDiv img {
        width: 100%;
        height: 320px;
    }
}